	/*公共样式*/
	*{
		margin:0;
		padding:0;
	}

	.ma{
		margin:auto;
	}

	.tl{
		text-align:left;
	}
	.tr{
		text-align:right;
	}
	.tc{
		text-align:center;
	}
	.vm{
		vertical-align:middle;
	}

	.pr{
		position:relative;
	}
	.pa{
		position:absolute;
	}
	.pf{
		position:fixed;
	}

	.fl{
		float:left;
	}
	.fr{
		float:right;
	}
	.fn{
		float:none;
	}
	.clearfix:after{
		content:"";
		display:block;
		clear:both;
	}

	.fw{
		font-weight:bold;
	}
	
	.dis-in{
		display:inline;
	}
	.dis-b{
		display:block;
	}
	.dis-n{
		display:none;
	}
	.dis-inb{
		display:inline-block;
	}
	
	.bn{
		border:none;
	}
	.br{
		border-radius:50%;
	}
	.fh{
		overflow:hidden;
	}
	.cur{
		cursor:pointer;
	}

	ul li{
		list-style:none;
	}

	.ellipsis{
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}